.react-calendar {
  border: none;
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  line-height: 1em;
  font-size: 12px;
}

.react-calendar__month-view__days {
  min-height: auto;
}

.react-calendar__tile {
  padding: 4px 0;
  height: 28px;
  max-width: 100%; 
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  padding-bottom: 2px;
  margin-bottom: 4px;
}

.highlight-day-calendar-card {
  background-color: #e0f3ff;
  border-radius: 6px;
  padding: 2px 0;
}

.event-calendar-card {
  width: 5px;
  height: 5px;
  margin: 1px auto 0;
  background-color: #0d6efd;
  border-radius: 50%;
}

.react-calendar__month-view__days {
  height: 168px;
  min-height: 168px;
}