.react-calendar {
  border: none;
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  line-height: 0.8em;
  font-size: 12px;
}

.react-calendar__month-view__days {
  min-height: auto;
}

.react-calendar__tile {
  padding: 4px 0;
  height: 28px;
  max-width: 100%;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  padding-bottom: 2px;
  margin-bottom: 4px;
}

.highlight-day-calendar-card {
  background-color: #ffeaea;
  border-radius: 6px;
  padding: 2px 0;
  transition: background-color 0.2s ease-in-out;
}

.highlight-day-calendar-card:hover {
  background-color: #ffd6d6;
  cursor: pointer;
}

.event-calendar-card {
  width: 6px;
  height: 6px;
  margin: 2px auto 0;
  background-color: #ff3b3b;
  /* Bolinha vermelha */
  border-radius: 50%;
}

.react-calendar__month-view__days {
  height: 168px;
  min-height: 168px;
}