.custom-checkbox {
  display: flex;
  align-items: center;  
  font-size: 0.85rem;
  color: var(--light);
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {  
  width: 16px;
  height: 16px;
  cursor: pointer;
}
