.custom-button {
  margin-top: 10px;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1rem;
  background-color: var(--bg-color, var(--sucess));
}

.custom-button:hover {
  background-color: var(--hover-color, var(--sucessEscuro));
}
